/* Larger Screens Styles */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .card.learning-activities {
        grid-column: span 2;
    }
}

